
*.pdf

*.zip


Week 01 - Introduction/Ex_1_data/*
*.fig

*.asv

*.aux

*.log

*.out

*.gz

*.m~

*.DS_Store

EX_2_data/.DS_Store

*.DS_Store

EX_2_data/.DS_Store

test/testfast.m
report/slides/data.txt
report/slides/build/document.nav
report/slides/build/document.snm
report/slides/build/document.toc

data/Ex_1_data/*
data/Ex_2_data/*
data/EX_4_data/*

report/ex1/figures/*.png

report/ex1/figures/a2.png

report/ex1/figures/a3.png

report/ex1/figures/a4.png

report/ex2/figures/*.png

report/slides/document.nav

report/slides/document.snm

report/slides/document.toc
